streamlit>=1.29.0
matplotlib>=3.7.1
seaborn>=0.12.2
urlextract>=1.9.0
wordcloud>=1.9.2
pandas>=2.0.3
emoji>=2.6.0
plotly>=5.15.0
streamlit-extras>=0.3.6
python-dotenv>=1.0.0
fpdf>=1.7.2
python-multipart>=0.0.6
streamlit-option-menu>=0.3.6
streamlit-lottie>=0.0.4
numpy>=1.24.0
Pillow>=9.0.0
requests>=2.28.0